In [ ]:
import pandas as pd
import numpy as np
data=np.array([10,20,30,40])
data2=[10,20,30,40]
data3=(2,3,4,5)
data4={'Naveen':23','Raj';29,'sahil':54}
myseries=pd.Series(data)
print(myseries)